body {
  margin: auto;
  padding: auto;
  /* font-size: larger; */
  font-weight: bold;
  color: white;
}
/* .parent{
    background-color: khaki;
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: ;
}
.child{
    background-color: aqua;
    height: 18vh;
    width: 18vw;
    margin: 5px;
    text-align: center;
     display: flex; 
    flex-direction: row-reverse;
} */
.parent {
  display: flex;
  background-color: blue;
  justify-content: flex-end;

  /* text-align: center; */
  /* justify-content: flex-start;  */
  /* justify-content: flex-start; */
  /* display: grid; */
}
.child {
  /* margin-left: 5px; */
  /* background-color: aqua; */
  /* justify-content: flex-start; */
  /* flex-grow: 2; */
  /* justify-content: center; */
  /* text-align: center; */
  /* display: flex;
    text-align: center;
    justify-content: center; */
  margin: 2vh;
}
ul {
  padding-inline-start: 0px;
  margin-left: 3rem;
}
.nav {
  justify-content: flex-start;
}

.child:hover {
  /* background-color; */
  color: black;
}
